body {
	background-image: url('../../../image/home/bg_img1.png');
}
.header-top img{
	width: 100%;
	max-height: 164px;
}

.footer-copyright{
	background-color: #FF7757;
	color: #fff;
}

.footerTop{
	margin-left: 0px;
	width: 100%;
	background-color: #34495e;
	color: #fff;
	line-height: 1.42857143;
}

ul.orangeClass {
	background-color: #fff;
}

header .navbar, .productsClass {
	margin-bottom: 3px;
}

header .navbar, header .navbar ul {
	background-color: #FF7757;
}

.navbar {
	border-color: #FF7757;
	border-radius: 0px;
}

header .navbar-default > div.container-fluid > div.navbar-collapse > ul > li > a {
	color: #fff;
}

ul > li.list-group-item.active {
	background-color: #FF7757;
}

ul.treeview-menu {
	padding-left: 0px;
	/*display: none;*/
}
/*.parentMenu > li:hover { 
	background: #CCCCCC;
}

.parentMenu > li:hover > ul.treeview-menu {
	display: block;
	position: absolute;
}

.parentMenu > li > ul.treeview-menu > li {
	left: 45px;
}*/

.panel > .panel-body > .item > .thumbnail > .imgFrame {
	height: 150px;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.productsClass > .item {
	padding-left: 3px;
	padding-right: 3px;
}

ul.partnerMenu > li > a > img {
	width: 90%;
	height: 90px;
	margin: 5px 0px 5px;
}

.center {
	text-align: center;
}

ul.partnerMenu > li {
	list-style-type: none;
}

.caption {
	text-align: center;
}

.multi-item-carousel .carousel-inner > .item {
  transition: 500ms ease-in-out left;
}

.carousel-inner > .item > .col-xs-3 > a > img {
	width: 100%;
}
.multi-item-carousel .carousel-inner .active.left {
  left: -33%;
}
.multi-item-carousel .carousel-inner .active.right {
  left: 33%;
}
.multi-item-carousel .carousel-inner .next {
  left: 33%;
}
.multi-item-carousel .carousel-inner .prev {
  left: -33%;
}
.multi-item-carousel .carousel-control .glyphicon-chevron-left{
	left: 2%;
}
.multi-item-carousel .carousel-control .glyphicon-chevron-right{
	right: 2%;
}
@media all and (transform-3d), (-webkit-transform-3d) {
  .multi-item-carousel .carousel-inner > .item {
    transition: 50ms ease-in-out left;
    transition: 50ms ease-in-out all;
    -webkit-backface-visibility: visible;
            backface-visibility: visible;
    -webkit-transform: none!important;
            transform: none!important;
  }
}
.multi-item-carousel .carouse-control.left,
.multi-item-carousel .carouse-control.right {
  background-image: none;
}

.paddingLeft30px {
	padding-left: 30px;
}

.footerTop  a {
	color: #fff;
}

ul.treeview-menu > li.child {
	background-color: #ece5e4;
}

.childAd {
	padding-bottom: 5px;
	border-bottom: solid #2f2f2f 1px;
	list-style: none;
}
.childAd  img {
	width: 90%;
}
.orangeClass .panel-heading {
	color: #fff;
    background-color: #ff7757;
    border-color: #ff7757;
}

.breadcrumb {
    background-color: #ff7757;
}

li.breadcrumb-item a {
	color: #fff;
}

li.newsList {
	list-style-type: none;
	padding-left: 10px;
	line-height: 25px;
}

li.newsList img {
	max-width: 50px;
}

.homeNewItem {
	list-style-type: none;
}

.homeNewItem img {
	max-width: 100px;
}

.panel-heading {
	font-size: 1.2em;
}
.navbar-toggle .icon-bar {
	background-color: #888;
}

.footerTop {
	margin-top: 2px;
}

.footerTop ul {
	line-height: 20pt;
}

.footer-copyright {
	margin-top: 2px;
	padding-top: 5px;
}

.navbar-header .navbar-brand {
	color: #fff;
}

#leftSideBar {
	padding-left: 0px;
	padding-right: 0px;
}

.leftSideBarClass {
	background-color: #ff7757;
}

.leftSideBarClass a {
	float: left;
}

.owl-carousel .owl-nav button.owl-prev {
	font-size: 50px;
    position: absolute;
    top: 20%;
    display: inline-block;
    margin-top: -10px;
    box-sizing: border-box;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
    color: #fff;
}

.owl-carousel .owl-nav button.owl-next {
	right: 1px;
	font-size: 50px;
    position: absolute;
    top: 20%;
    display: inline-block;
    margin-top: -10px;
    box-sizing: border-box;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
    color: #fff;
}

.owl-carousel .owl-dots {
	height: 5px;
}
.leftSideBarClass {
	position: absolute;
    top: -75px;
}

.navbar-header .h2MasterDoor {
	border-color: #ff7757;
	float: left;
	text-align: center;
	padding-left: 90px;
}

.navbar-header .h2MasterDoor h2 {
	margin-top: 0px;
	font-size: 21px;
}

.form-group.required .control-label:after {
  content:"*";
  color:red;
}

.productDetail img {
	width: 98%;
}
.panel-body {
	word-break: break-word;
}

.telFormat {
	color: #fff;
}

.list-group-item-heading a {
	font-size: 14px;
	text-transform: capitalize;
}

.panel-heading {
	text-transform: capitalize;
}

.imgFrame img {
	max-height: 100px;
	width: 98%;
}
.lead {
	color: #ee2828;
	font-size: 14px;
}

.thumbnail .caption {
	height: 139px;
}

@media (min-width: 768px) {
  .carousel-inner img {
    min-height: 266px;
  }
}

@media (max-width: 767px) {
	.thumbnail .caption {
		height: 155px;
	}
}
